// bower:scss
// endbower

$font-stack:    'Roboto', sans-serif;
$primary-color: #33335E;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

#temperature {
  font-size: 5em;
  text-align: center;
  color: #23528C;
}

img {
  display: block;
  margin: auto;
  width: 60%;
  max-width: 200px
}

footer {
  font: 100% $font-stack;
  color: $primary-color;
}

.footer-logos .fa{
  padding-right: 0.5em;
}
